section.about{
    margin-top: 140px;
    @include media-sm{
        margin-top: 50px;
    }

    h2{

        @include media-lg{
            font-size: 57px;
        }
        @include media-sm{
            font-size: 40px;
            line-height: 44px;
            text-align: left;
            margin-left: 20px;

        }
        font-size: 64px;
        line-height: 73px;
        text-align: center;
        background-color: #FFC223;
        color: transparent;
        text-shadow: 3px 3px 3px rgba(255, 255, 127, 0.33);

        background-clip: text;


    }

    .about-items{
        margin: auto;
        width: 90%;

        // flex: 1 1 auto;
        // margin: 0 5px;

        .col1{
            width: 347px;
        }
        .col2{
            width: 389px;
        }
        .col3{
            width: 376px;
        }


        justify-content: space-between;

        @include media-sm{
            flex-direction: column;
            .col1{
                width: 100%;

            }
            .col2{
                width: 100%;

            }
            .col3{
                width: 100%;

            }
        }

        margin-top: 66px;

        &.to_row{
            grid-template-columns: repeat(3, 1fr);
            @include media-sm{
                grid-template-columns: repeat(1, 1fr);
                gap: 25px;


            }
            .item .title{
                font-size: 27px;
            }
        }

        display: flex;
        // grid-template-columns: repeat(3, 1fr);
        // // gap: 59px;
        // @include media-lg{
        //     grid-template-columns: repeat(1, 1fr);
        // }
        // @include media-xll{
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // @include media-sm{
        //     grid-template-columns: repeat(1, 1fr);
        //     gap: 2%;
            
        // }
        

        .item{
            // width: 26%;
                margin-bottom: 40px;

            @include media-sm{
                margin-left: 5%;

                // height: auto;

            }
     
     
            .title{
                display: flex;
                img{
                    margin-right: 9px;
                }
                position: relative;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 80px;
                /* identical to box height, or 200% */
    
                letter-spacing: 0.2px;
    
                color: #4F46BA;

                @include media-sm{
                    font-size: 20px;
                    line-height: 16px;
                }
     

                // &::before {
                //     display: block;
                //     position: absolute;
                //     left: -45px;
                //     content: url('../img/svg/coolicon (4).svg');

                //     @include media-lg{
                //         content: "";
                //     }
                // }
            }
            .description{

                @include media-sm{
                    font-size: 12px;
                    line-height: 16px;
                }



                margin-top: 22px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */

                letter-spacing: 0.1px;

                color: #252B42;
            }
        }

    }
}