section.cost{
    margin-top: 240px;
    margin-bottom: 288px;
    position: relative;
    h2{
        /* h2 */
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height, or 125% */

        letter-spacing: 0.2px;

        color: #252B42;
    }

    .description{
        /* paragraph */
        margin-top: 20px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        letter-spacing: 0.2px;

        color: #737373;
    }


    .programms{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        @include media-lg{
            flex-direction: column;
        }
        .programm{
            @include media-lg{
                width: 100%;
                padding: 20px;
                margin: 20px 0;
            }
            background-color: #FFFFFF;
            width: 33%;
            padding: 40px;
            .title{
               /* h2 */

                @include media-xl{
                    font-size: 33px;
                }
       
            
                // @include media-xll{
                //     height: 270px;
                // }
        
                // @include media-lg{
                //     height: 410px;
                // }
    

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                /* identical to box height, or 125% */

                letter-spacing: 0.2px;

                color: #252B42;
            }
            .cost{
                /* paragraph */
                margin-top: 28px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */

                letter-spacing: 0.2px;

                color: #737373;
            }
            button{
                /* link */
                margin-top: 28px;
                @include media-xl{
                    font-size: 12px;
                }
        
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 0.2px;

                color: #4F46BA;
                border: none;
                background-color: transparent;

                img{
                    margin-left: 10px;
                }
            }

        }

    }

    .button{
        margin-top: 76px;
        background: #4F46BA;
        border-radius: 5px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #FFFFFF;
        width: 269px;
        height: 68px;
        border: none;

        @include media-sm{
            width: 100%;

        }
    }



   
}