section.course-page{
    margin-top: 100px;
    position: relative;
    .block{
        display: flex;
        background: #FFFFFF;
        border: 1px solid #4F46BA;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25) inset;

        @include media-sm{
            flex-direction: column;
        }
        .description_block{
            width: 50%;
            padding: 84px;

            @include media-sm{
                width: 100%;
                padding: 20px;
            }
            h1{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 73px;
                /* identical to box height, or 111% */

                @include media-sm{
                    display: none;


                }

                margin: auto;
                color: #252B42;
                &.sm{
                    display: none;
                    @include media-sm{
                        display: block;
                        line-height: 44px;


                    }
                }
            }
            .age{
                /* link */

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */

                letter-spacing: 0.2px;

                color: #4F46BA;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 10px;
            }
            .description{
                /* paragraph */

     

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */

                letter-spacing: 0.2px;

                color: #737373;
            }
            .location{
                /* h6 */

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */

                letter-spacing: 0.2px;

                color: #737373;


                /* Inside auto layout */

                flex: none;
                order: 1;
                flex-grow: 0;
                // margin: 0px 10px;
            }
            .interval{
                /* h5 */

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;

                letter-spacing: 0.1px;

                color: #FFC223;



            }
            button{
                border: none;
                width: 172px;
                height: 48px;
                background: #4F46BA;
                border-radius: 5px;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                @include media-lg{
                    display: none;
                }
        
                color: #FFFFFF;
                img{
                    margin-left: 35px;
                }
                &.sm{
                    margin-top: 40px;
                    width: 100%;
                    display: none;
                    @include media-lg{
                        display: block;
                    }
                }
            }
        }
        .img{
            width: 50%;
            position: relative;
            @include media-sm{
                display: none;
            }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        .img.sm{
            width: 100%;
            height: 257px;

            @include media-sm{
                display: block;
            }
            display: none;
        }




     
    }
}

.course-page-description{
    margin-top: 110px;
    margin-bottom: 232px;

    .description{

        @include media-sm{
            font-size: 12px;
            line-height: 21px;
            /* or 133% */
    
            // letter-spacing: 0.1px;
    
            color: #252B42;
        }




        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        letter-spacing: 0.1px;

        color: #252B42;
    }

    .row2{
        margin-top: 100px;
        display: flex;
        div{
            @include media-sm{
                width: 100%;
            }
            width: 50%;
        }
        @include media-sm{
            flex-direction: column;
        }
        .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            /* or 50% */
            @include media-sm{
                text-align: center;
                font-size: 18px;
                line-height: 24px;
                font-weight: 700;

            }
            
            letter-spacing: 0.1px;
            
            color: #252B42;
        }
        .description{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            letter-spacing: 0.1px;

            color: #252B42;

            @include media-sm{
                text-align: center;
                margin-top: 20px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                // line-height: 12px;
                /* or 150% */

                text-align: center;

            }
            ul{
                @include media-sm{
                    margin: auto;
    
                }
                .no_mark{
                    text-decoration: none;
                    list-style: none;
                }
            }
        }
    }
    .row3{
        margin-top: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        letter-spacing: 0.1px;

        color: #252B42;
    }

}