section.course-page{
    width: 92%;
    margin: 120px auto auto auto;
    @include media-sm{
        margin: auto;
    }
    p{
        margin: auto;
    }

    .welcome{
        display: flex;
        background: #FFFFFF;
        box-shadow: inset 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
        @include media-xll{
            flex-direction: column;
        }
        .text{
            @include media-xll{
                width: 100%;
                order: 2;
                padding: 25px;

            }
            order: 1;
            padding: 45px 0  0 84px;
            width: 50%;
            .age{
                /* link */

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */

                letter-spacing: 0.2px;

                color: #4F46BA;
            }
            .title{
                @include media-xll{
                    font-size: 16px;
                    line-height: 24px;
                    
    
                }



                margin: 15px 0;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 44px;
                /* or 122% */
                color: #252B42;
            }
            .description{
                /* paragraph */
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */

                letter-spacing: 0.2px;

                color: #737373;
            }
            .location{
                margin-top: 11px;
                

                display: flex;
                // height: 33px;
                .img{
                    order: 1;

                    position: relative;
                    width: 13px;
                    height: auto;

           


                    img{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 13px;
                     
                       height: 16px;
                    }

                }
                .text-location{
                    order: 2;

                    display: flex;
                    // flex-direction: column;
                    margin-left: 13px;

                                            /* h6 */

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    /* identical to box height, or 171% */

                    letter-spacing: 0.2px;

                    color: #737373;
                    display: flex;
                    align-items: center;
                }


                
           

            }
            .date{
                /* h5 */
                margin-left: 5px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                // text-align: center;
                letter-spacing: 0.1px;

                color: #FFC223;
            }
            button{
                margin-top: 18px;
                border: none;
                width: 172px;
                height: 48px;
                background: #4F46BA;
                border-radius: 5px;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                text-align: center;

        
                color: #FFFFFF;
                img{
                    margin-left: 35px;
                }
                &.sm{
                    margin-top: 40px;
                    width: 100%;
                    display: none;
                    @include media-xll{
                        display: block;
                    }
                }
            }
        }
        .img{
            @include media-xll{
                order: 1;
                width: 100%;

            }
            order: 2;

            width: 50%;
        }
    }

}
.benefits{
    display: flex;
    text-align: center;
    width: 86%;
    margin: 74px auto auto auto;
    @include media-xll{
        flex-direction: column;
    }
    .item{
        margin: 0 32.5px;
        @include media-xll{
            margin: auto;
            margin: 30px 32.5px;

        }

        
        &.col1{
            width: 292px;
        }
        &.col2{
            width: 420px;
        }
        &.col3{
            width: 305px;
        }
        @include media-xll{
            &.col1{
                width: 80%;
            }
            &.col2{
                width: 90%;
            }
            &.col3{
                width: 80%;
            }
        }
        .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 80px;
            /* identical to box height, or 200% */
            letter-spacing: 0.2px;
            color: #4F46BA;
            @include media-xll{
                margin: auto;
                line-height: 44px;
            }

            &.sm{
                display: none;
                @include media-xll{
                    display: block;

                }
            }
            &.xll{
                display: block;
                @include media-xll{
                    display: none;

                }
            }
        }
        .description{

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */
    
            text-align: center;
            letter-spacing: 0.1px;
    
            color: #252B42;

            @include media-xll{
                font-size: 16px;
                line-height: 20px;
                // margin: auto;
            }

            
    
        }

    }
    
}

section.description{

    width: 90%;
    margin: 100px auto auto auto;

    @include media-xll{
        width: 81%;
        margin: auto;
    }
    h2{

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 24px;
        /* identical to box height, or 67% */

        letter-spacing: 0.1px;

        color: #000000;

        @include media-xll{
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
        }
    }
    ul{
        padding-left: 26px;
        margin-top: 47px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        letter-spacing: 0.1px;

        color: #252B42;

        @include media-xll{
            padding-left: 0;

        }

    }

    .row{
        margin-top: 60px;
        display: flex;

        @include media-xll{
            flex-direction: column;
        }


        h3{
            @include media-xll{
                width: 103%;
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;
            }
            width: 50%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            /* or 125% */

            letter-spacing: 0.1px;

            color: #252B42;
        }
        ul{
            width: 80%;
            @include media-xll{
                margin-top: 15px;
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                padding: 0 25px;
            }

        }
    }

    .row2{
        margin-top: 100px;
        margin-bottom: 200px;
        h2{
            @include media-xll{
                width: 116%;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 30px;
                /* or 115% */
                margin-left: -20px;
                
                letter-spacing: 0.1px;
                
                color: #000000;
            }


        }
        .row{

            @include media-xll{
                width: 116%;
                margin-left: -20px;

            }
            h3{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 46px;
                width: 50%;
    
                /* or 128% */
    
                letter-spacing: 0.1px;
    
                color: #252B42;
    
                @include media-xll{
                    width: 100%;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 46px;
                 
                }
            }

        }
        
    }



}