section.questions{
    margin: 0 auto;
    margin-top: 184px;

    display: flex;
    justify-content: space-between;

    width: 1084px;
    // height: 177px;

    @include media-md{
        margin-top: 92px;

        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 5%;
        grid-column-gap: 10px;
        grid-row-gap: 40px;

    }
    
    @include media-xll{
        margin-top: 92px;

        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 5%;
        grid-column-gap: 10px;
        grid-row-gap: 40px;
    }


    .item{
        // width: 50%;

        margin: 0 auto;

        .img{
            display: flex;
            justify-content: center;
    
        }
        .question{
            @include media-md{
                font-size: 20px;
                line-height: 14px;
            }
            display: block;
            margin-top: 23px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            /* identical to box height */
    
            text-align: center;
    
            color: #4F46BA;
        }
        .answer{

            @include media-md{

                font-size: 16px;
                line-height: 20px;

            }
            margin-top: 18px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            /* identical to box height, or 144% */
    
            text-align: center;
    
            color: #252B42;
        }
    }
    
    
  

}