section.team{
    margin-top: 224px;
    @include media-sm{
        margin-top: 117px;
    }
    width: 90%;

    position: relative;
    h2{
        
        /* h2 */
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height, or 125% */

        letter-spacing: 0.2px;

        color: #252B42;


        @include media-sm{
            /* h2 */

             margin: 0 auto;

             font-family: 'Montserrat';
             font-style: normal;
             font-weight: 700;
             font-size: 40px;
             line-height: 50px;
             /* identical to box height, or 125% */

             letter-spacing: 0.2px;

             color: #252B42;
         }
    }
    .description{
        /* paragraph */

        

        @include media-sm{
            /* h2 */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* or 125% */
            
            letter-spacing: 0.2px;
            
            color: #737373;
         }

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        letter-spacing: 0.2px;

        color: #737373;
    }
    .teachers{
        margin-top: 47px;

        padding: 0 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        gap: 34px;
        margin-bottom: 21px;


    
        @include media-xll{
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-lg{
            grid-template-columns: repeat(2, 1fr);
          
        }
        @include media-sm{
            grid-template-columns: repeat(1, 1fr);
         
        }

        .teacher{
            // padding: 16px;
            background: #FFFFFF;
            border-radius: 5px;
            box-shadow: 1px 1px 8px silver;


    

            /* Inside auto layout */

            // flex: none;
            // order: 0;
            // align-self: stretch;
            // flex-grow: 0;
            // margin: 0px 30px;
            .img{
                position: relative;
                // height: 238px;
                height: 220px;

                @include media-sm{
                    height: 300px;
                 
                }
  
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
            .description{
                margin: 17px;
                // margin-bottom: 18px;

                .name{
                    /* h5 */
    
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    /* or 150% */
    
                    text-align: center;
                    letter-spacing: 0.1px;
    
                    color: #252B42;
                }
                .education{
                    /* small */

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    /* or 133% */

                    text-align: center;
                    letter-spacing: 0.2px;

                    color: #252B42;
                }
                .profession{
                    margin-top: 7px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    /* or 133% */
                    
                    text-align: center;
                    letter-spacing: 0.2px;
                    
                    color: #252B42;
                }

            }
            

        }
    }


   
}