$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   999px;
$screen-xll:                  1024px;
$screen-xl:                   1440px;

@mixin media-sm {
  @media (max-width: $screen-sm) {
    @content;
  }
};

@mixin media-md {
  @media (max-width: $screen-md) {
    @content;
  }
};

@mixin media-lg {
  @media (max-width: $screen-lg) {
    @content;
  }
};

@mixin media-xl {
  @media (max-width: $screen-xl) {
    @content
  }
};

@mixin media-xll {
  @media (max-width: $screen-xll) {
    @content
  }
};

@mixin media-custom($width) {
  @media (max-width: $width) {
    @content;
  }
}

// using
// @include media-lg{

// }




// @mixin media-sm {
//   @media (min-width: $screen-sm) {
//     @content;
//   }
// };

// @mixin media-md {
//   @media (min-width: $screen-md) {
//     @content;
//   }
// };

// @mixin media-lg {
//   @media (min-width: $screen-lg) {
//     @content;
//   }
// };

// @mixin media-xl {
//   @media (min-width: $screen-xl) {
//     @content
//   }
// };

// @mixin media-custom($width) {
//   @media (min-width: $width) {
//     @content;
//   }
// }