/*!******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \******************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Roboto:wght@100&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss (1) ***!
  \**********************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@500;600;700;800&family=Roboto:wght@100&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss (2) ***!
  \**********************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss (3) ***!
  \**********************************************************************************************************************************************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:root {
  font-size: 14px; }
  @media (max-width: 1440px) {
    :root {
      font-size: 16px; } }

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  line-height: 1.4rem;
  overflow-x: hidden;
  background: #ffffff; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  font: inherit;
  text-decoration: none; }
  a:focus {
    outline: none; }
  @media (hover: hover) and (pointer: fine) {
    a:hover {
      text-decoration: none; } }

.container {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 480px) {
    .container {
      width: 95%;
      margin: 0 auto; } }

.container-gradient-width {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 480px) {
    .container-gradient-width {
      width: 100%;
      margin: 0 auto; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  /* Rectangle 21 */
  width: 1188px;
  z-index: 1;
  width: 90%;
  margin: 20px 5% 177px 5%;
  background: rgba(255, 255, 255, 0.8); }
  @media (max-width: 480px) {
    .wrapper {
      width: 100%;
      margin: auto; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  margin: auto;
  /* or 113% */
  color: #252B42; }

h1 {
  font-size: 46px;
  line-height: 52px; }

p {
  font-family: 'Manrope';
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* or 145% */
  letter-spacing: 0.01em;
  color: #252B42; }
  @media (max-width: 480px) {
    p {
      font-size: 11px;
      line-height: 16px; } }

body {
  font-family: 'Manrope', sans-serif;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  background: linear-gradient(135.91deg, #6EADFF 9.65%, #B98CF9 74.17%); }

.background-gradient {
  /* Ellipse 17 */
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(193, 248, 255, 0.8);
  -webkit-filter: blur(972.1px);
          filter: blur(972.1px);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.background-gradient2 {
  /* Ellipse 16 */
  position: absolute;
  width: 2916px;
  height: 3030px;
  left: -1478px;
  top: 7524px;
  background: rgba(123, 97, 255, 0.7);
  -webkit-filter: blur(972.1px);
          filter: blur(972.1px);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

button {
  cursor: pointer; }

header {
  margin: 20px 10% 0 10%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 480px) {
    header {
      margin: auto 10% auto 10%; } }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 480px) {
      header nav {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    header nav .menu-item {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      text-align: center;
      color: #252B42;
      margin-right: 40px; }
      @media (max-width: 480px) {
        header nav .menu-item {
          margin-right: 7px;
          font-size: 10px; } }
      header nav .menu-item a {
        color: #252B42;
        text-decoration: none; }
        header nav .menu-item a img {
          margin-left: 12px; }
      @media (max-width: 480px) {
        header nav .menu-item {
          margin-right: 70px; } }
      @media (max-width: 480px) {
        header nav .menu-item {
          margin-right: 10px; } }
      @media (max-width: 480px) {
        header nav .menu-item .title img {
          display: none; } }
      header nav .menu-item ul {
        display: none; }
  header .button-block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .button-block .phone-number {
      margin-right: 33px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #252B42; }
      header .button-block .phone-number .icon {
        margin-right: 12px; }
    header .button-block button {
      width: 137px;
      height: 100%; }
    header .button-block button.sign-up {
      background: #4F46BA;
      border-radius: 5px;
      border: 0;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      text-align: center;
      color: #FFFFFF; }
    @media (max-width: 480px) {
      header .button-block {
        display: none; } }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 55;
  background-color: rgba(0,0,0,0.32157); }
  .overlay.show {
    display: block; }

.modal {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #F3F6FD;
  width: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px; }
  .modal.show {
    display: block; }
  @media (max-width: 1024px) {
    .modal {
      width: 50%; } }
  @media (max-width: 480px) {
    .modal {
      width: 90%; } }
  .modal .img {
    position: relative;
    height: 230px; }
    @media (max-width: 480px) {
      .modal .img {
        height: 160px; } }
    .modal .img img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .modal .description {
    height: 330px;
    border-radius: 5px;
    background-color: #FFFFFF; }
    @media (max-width: 480px) {
      .modal .description {
        padding: 10px 30px 30px 30px;
        height: 415px; } }
    .modal .description .question_title {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 50px;
      color: #252B42; }
      @media (max-width: 480px) {
        .modal .description .question_title {
          font-size: 25px;
          line-height: 23px; } }
    .modal .description p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      /* or 87% */
      letter-spacing: 0.2px;
      color: #737373; }
      @media (max-width: 480px) {
        .modal .description p {
          font-size: 11px;
          line-height: 20px; } }
    .modal .description form {
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 480px) {
        .modal .description form {
          margin-top: 0; } }
      .modal .description form .input-phone {
        background: rgba(79, 70, 186, 0.5);
        border-radius: 5px;
        border: none;
        padding: 10px; }
      .modal .description form button[type=submit] {
        margin-top: 35px;
        width: 50%;
        background: #4F46BA;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF; }
        @media (max-width: 480px) {
          .modal .description form button[type=submit] {
            width: 100%; } }

section.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
  /* Heading */ }
  @media (max-width: 480px) {
    section.main {
      margin-top: auto; } }
  @media (max-width: 480px) {
    section.main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  section.main .text {
    width: 50%; }
    @media (max-width: 480px) {
      section.main .text {
        width: 100%; } }
    section.main .text h1 {
      width: 110%;
      margin: auto;
      font-size: 46px;
      line-height: 52px; }
      @media (max-width: 480px) {
        section.main .text h1 {
          width: 100%;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 30px;
          line-height: 36px;
          /* or 120% */
          color: #252B42; } }
    section.main .text p {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */
      letter-spacing: 0.01em;
      color: #252B42; }
  section.main button {
    margin-top: 170px;
    border: none;
    width: 172px;
    height: 48px;
    background: #4F46BA;
    border-radius: 5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF; }
    @media (max-width: 480px) {
      section.main button {
        display: none; } }
    section.main button img {
      margin-left: 35px; }
    section.main button.sm {
      margin-top: 40px;
      height: 56px;
      width: 100%;
      display: none; }
      @media (max-width: 480px) {
        section.main button.sm {
          display: block; } }
  section.main .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%; }
    @media (max-width: 480px) {
      section.main .img {
        width: 100%; } }

section.questions {
  margin: 0 auto;
  margin-top: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1084px; }
  @media (max-width: 768px) {
    section.questions {
      margin-top: 92px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 40px; } }
  @media (max-width: 1024px) {
    section.questions {
      margin-top: 92px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 40px; } }
  section.questions .item {
    margin: 0 auto; }
    section.questions .item .img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    section.questions .item .question {
      display: block;
      margin-top: 23px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      /* identical to box height */
      text-align: center;
      color: #4F46BA; }
      @media (max-width: 768px) {
        section.questions .item .question {
          font-size: 20px;
          line-height: 14px; } }
    section.questions .item .answer {
      margin-top: 18px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      /* identical to box height, or 144% */
      text-align: center;
      color: #252B42; }
      @media (max-width: 768px) {
        section.questions .item .answer {
          font-size: 16px;
          line-height: 20px; } }

section.about {
  margin-top: 140px; }
  @media (max-width: 768px) {
    section.about {
      margin-top: 50px; } }
  section.about h2 {
    font-size: 64px;
    line-height: 73px;
    text-align: center;
    background-color: #FFC223;
    color: transparent;
    text-shadow: 3px 3px 3px rgba(255, 255, 127, 0.33);
    -webkit-background-clip: text;
            background-clip: text; }
    @media (max-width: 768px) {
      section.about h2 {
        font-size: 57px; } }
    @media (max-width: 768px) {
      section.about h2 {
        font-size: 40px;
        line-height: 44px;
        text-align: left;
        margin-left: 20px; } }
  section.about .about-items {
    margin: auto;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section.about .about-items .col1 {
      width: 347px; }
    section.about .about-items .col2 {
      width: 389px; }
    section.about .about-items .col3 {
      width: 376px; }
    @media (max-width: 1024px) {
      section.about .about-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.about .about-items .col1 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col1 .item {
            width: 50%; }
        section.about .about-items .col2 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col2 .item {
            width: 50%; }
        section.about .about-items .col3 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col3 .item {
            width: 50%; } }
    @media (max-width: 768px) {
      section.about .about-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.about .about-items .col1 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col1 .item {
            width: 50%; }
        section.about .about-items .col2 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col2 .item {
            width: 50%; }
        section.about .about-items .col3 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.about .about-items .col3 .item {
            width: 50%; } }
    @media (max-width: 480px) {
      section.about .about-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.about .about-items .col1 {
          width: 100%;
          display: block; }
          section.about .about-items .col1 .item {
            width: 100%; }
        section.about .about-items .col2 {
          width: 100%;
          display: block; }
          section.about .about-items .col2 .item {
            width: 100%; }
        section.about .about-items .col3 {
          width: 100%;
          display: block; }
          section.about .about-items .col3 .item {
            width: 100%; } }
    section.about .about-items.to_row {
      grid-template-columns: repeat(3, 1fr); }
      @media (max-width: 768px) {
        section.about .about-items.to_row {
          grid-template-columns: repeat(1, 1fr);
          gap: 25px; } }
      section.about .about-items.to_row .item .title {
        font-size: 27px; }
    section.about .about-items .item {
      margin-bottom: 40px; }
      @media (max-width: 768px) {
        section.about .about-items .item {
          margin-left: 5%; } }
      section.about .about-items .item .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 80px;
        /* identical to box height, or 200% */
        letter-spacing: 0.2px;
        color: #4F46BA; }
        section.about .about-items .item .title img {
          margin-right: 9px; }
        @media (max-width: 768px) {
          section.about .about-items .item .title {
            font-size: 20px;
            line-height: 16px; } }
      section.about .about-items .item .description {
        margin-top: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 0.1px;
        color: #252B42; }
        @media (max-width: 768px) {
          section.about .about-items .item .description {
            font-size: 12px;
            line-height: 16px; } }

section.assignments {
  z-index: 3;
  margin-top: 148px;
  position: relative; }
  @media (max-width: 480px) {
    section.assignments {
      margin-top: 100px; } }
  section.assignments .titles {
    width: 90%;
    margin: 0 auto; }
    section.assignments .titles h2 {
      margin: 0 auto;
      height: 50px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 50px;
      /* identical to box height, or 78% */
      letter-spacing: 0.2px;
      color: #252B42; }
      @media (max-width: 480px) {
        section.assignments .titles h2 {
          font-size: 33px;
          margin: auto; } }
    section.assignments .titles p {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      /* identical to box height, or 145% */
      letter-spacing: 0.01em;
      color: #252B42; }
      @media (max-width: 480px) {
        section.assignments .titles p {
          font-size: 12px;
          margin: auto; } }
  section.assignments .card-wrap {
    margin: 0 auto;
    margin-top: 125px;
    width: 95%;
    display: grid;
    grid-gap: 47px;
    gap: 47px;
    grid-template-columns: repeat(3, 1fr); }
    @media (max-width: 1024px) {
      section.assignments .card-wrap {
        margin-top: 31px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 768px) {
      section.assignments .card-wrap {
        margin-top: 31px;
        grid-template-columns: repeat(1, 1fr); } }
    section.assignments .card-wrap .card {
      min-height: 200px;
      z-index: 1; }
      section.assignments .card-wrap .card .img {
        width: 100%;
        height: 300px;
        position: relative; }
        @media (max-width: 768px) {
          section.assignments .card-wrap .card .img {
            height: 450px; } }
        @media (max-width: 480px) {
          section.assignments .card-wrap .card .img {
            height: 250px; } }
        section.assignments .card-wrap .card .img img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
      section.assignments .card-wrap .card .content {
        position: relative;
        height: 652px;
        padding: 15px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25); }
        section.assignments .card-wrap .card .content.col1 {
          height: 560px; }
        section.assignments .card-wrap .card .content.col2 {
          height: 500px; }
        section.assignments .card-wrap .card .content.col3 {
          height: 500px; }
        @media (max-width: 480px) {
          section.assignments .card-wrap .card .content {
            height: auto; } }
        section.assignments .card-wrap .card .content .age {
          /* link */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          letter-spacing: 0.2px;
          color: #4F46BA;
          /* Inside auto layout */
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none;
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
        section.assignments .card-wrap .card .content .title {
          /* h5 */
          display: block;
          height: 48px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */
          letter-spacing: 0.1px;
          color: #252B42;
          /* Inside auto layout */
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          -ms-flex-positive: 0;
              flex-grow: 0;
          margin: 10px 0px; }
        section.assignments .card-wrap .card .content .description {
          /* paragraph */
          height: 260px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */
          letter-spacing: 0.2px;
          color: #737373;
          /* Inside auto layout */
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none;
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          -ms-flex-positive: 0;
              flex-grow: 0;
          margin: 10px 0px; }
          section.assignments .card-wrap .card .content .description.col1 {
            height: 240px; }
          section.assignments .card-wrap .card .content .description.col2 {
            height: 180px; }
          section.assignments .card-wrap .card .content .description.col3 {
            height: 180px; }
        section.assignments .card-wrap .card .content .interval {
          height: 48px;
          /* h5 */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */
          letter-spacing: 0.1px;
          color: #FFC223;
          /* Inside auto layout */
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none;
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
        section.assignments .card-wrap .card .content .location {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 33px; }
          section.assignments .card-wrap .card .content .location .img {
            width: 13px;
            height: auto; }
            section.assignments .card-wrap .card .content .location .img img {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 13px;
              height: 16px; }
          section.assignments .card-wrap .card .content .location .text {
            margin-left: 13px;
            /* h6 */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            letter-spacing: 0.2px;
            color: #737373;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
        section.assignments .card-wrap .card .content button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 10px 20px;
          position: static;
          width: 210px;
          height: 44px;
          left: 25px;
          top: 241px;
          border: 1px solid #4F46BA;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          border-radius: 5px;
          /* h6 */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          letter-spacing: 0.2px;
          color: #4F46BA;
          /* Inside auto layout */ }
          section.assignments .card-wrap .card .content button img {
            margin-left: 10px; }
  section.assignments .ellipse1 {
    position: absolute;
    width: 190px;
    height: 189px;
    right: 15px;
    top: 45px;
    background: #FFC223;
    border-radius: 100%; }
    @media (max-width: 480px) {
      section.assignments .ellipse1 {
        display: none; } }
  section.assignments .ellipse2 {
    /* Ellipse 6 */
    position: absolute;
    width: 23px;
    height: 23px;
    left: 26px;
    top: 541px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse3 {
    /* Ellipse 6 */
    position: absolute;
    width: 10px;
    height: 10px;
    left: 65px;
    top: 541px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse4 {
    /* Ellipse 6 */
    position: absolute;
    width: 16px;
    height: 16px;
    right: 42px;
    top: 845px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse5 {
    /* Ellipse 6 */
    position: absolute;
    z-index: 2;
    width: 37px;
    height: 37px;
    right: 80px;
    top: 889px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse6 {
    /* Ellipse 6 */
    position: absolute;
    width: 48px;
    height: 48px;
    left: 26px;
    top: 1591px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse7 {
    /* Ellipse 6 */
    position: absolute;
    width: 190px;
    height: 189px;
    left: 25px;
    top: 1715px;
    border-radius: 100%;
    background: #FFC223; }
  section.assignments .ellipse8 {
    /* Ellipse 6 */
    position: absolute;
    width: 16px;
    height: 16px;
    right: 42px;
    top: 1591px;
    border-radius: 100%;
    background: #FFC223; }

section.points {
  margin-top: 180px; }
  @media (max-width: 480px) {
    section.points {
      margin-top: 137px; } }
  section.points h2 {
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;
    /* identical to box height, or 78% */
    letter-spacing: 0.2px;
    color: #252B42; }
    @media (max-width: 480px) {
      section.points h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 50px;
        /* identical to box height, or 78% */
        letter-spacing: 0.2px;
        color: #252B42; } }
  section.points .card-points {
    width: 85%;
    margin: 0 auto;
    margin-top: 119px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    gap: 20px; }
    @media (max-width: 768px) {
      section.points .card-points {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 45px;
        width: 95%; } }
    @media (max-width: 480px) {
      section.points .card-points {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 45px;
        width: 95%; } }
    section.points .card-points .card-point {
      background: #FFFFFF;
      border-radius: 10px; }
      section.points .card-points .card-point .img {
        position: relative; }
        section.points .card-points .card-point .img img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 100%;
          height: 100%; }
      section.points .card-points .card-point .text {
        margin: 25px; }
        section.points .card-points .card-point .text .title {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 24px;
          /* or 86% */
          letter-spacing: 0.1px;
          color: #252B42;
          /* Inside auto layout */
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none;
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
          margin: 10px 0px; }
        section.points .card-points .card-point .text .description {
          font-weight: 600;
          font-size: 20px; }

section.reviews {
  margin-top: 196px;
  position: relative; }
  @media (max-width: 480px) {
    section.reviews {
      margin-top: 30px; } }
  section.reviews h2 {
    /* h2 */
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    letter-spacing: 0.2px;
    color: #252B42; }
    @media (max-width: 480px) {
      section.reviews h2 {
        /* h2 */
        width: 90%;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height, or 125% */
        letter-spacing: 0.2px;
        color: #252B42; } }
  section.reviews .description {
    /* paragraph */
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;
    color: #737373; }
  section.reviews .reviews {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100%; }
    section.reviews .reviews .slider-control.main-slider__control {
      position: absolute;
      width: 100%;
      height: 37%;
      z-index: 3;
      top: 0;
      bottom: 0;
      margin: auto; }
      section.reviews .reviews .slider-control.main-slider__control .swiper-button-prev {
        position: absolute;
        cursor: pointer;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
        z-index: 20;
        left: -12%;
        -webkit-transition: all ease .2s;
        transition: all ease .2s;
        background-color: #0C0A0A;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow: hidden; }
      section.reviews .reviews .slider-control.main-slider__control .swiper-button-next {
        z-index: 4;
        position: absolute;
        right: 0; }
    section.reviews .reviews .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#eee9fe), color-stop(rgba(255,255,255,0.18824)), to(#eee9fe));
      background: linear-gradient(90deg, #eee9fe, rgba(255,255,255,0.18824), #eee9fe);
      z-index: 2; }
    @media (max-width: 480px) {
      section.reviews .reviews {
        margin-top: 30px; } }
    section.reviews .reviews .review {
      height: auto;
      background-color: #FFFFFF;
      height: 332px;
      padding: 52px; }
      section.reviews .reviews .review .stars {
        margin-top: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        section.reviews .reviews .review .stars .star {
          margin: 3px; }
      section.reviews .reviews .review .text {
        /* paragraph */
        margin-top: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373; }
      section.reviews .reviews .review .parent {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        section.reviews .reviews .review .parent img {
          width: 50px;
          height: 51px; }
        section.reviews .reviews .review .parent .meta {
          margin: 3px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          width: 100%;
          margin-left: 15px; }
          section.reviews .reviews .review .parent .meta .name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #4F46BA;
            -webkit-box-flex: 0;
                -ms-flex: none;
                    flex: none;
            -webkit-box-ordinal-group: 1;
                -ms-flex-order: 0;
                    order: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
            margin: 0px 0px; }
          section.reviews .reviews .review .parent .meta .description {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #252B42;
            -webkit-box-flex: 0;
                -ms-flex: none;
                    flex: none;
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            -ms-flex-positive: 0;
                flex-grow: 0;
            margin: 0px 0px; }
  section.reviews .ellipse1 {
    /* Ellipse 11 */
    position: absolute;
    width: 52px;
    height: 52px;
    left: -86px;
    top: 290px;
    background: #FFC223;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%; }
  section.reviews .ellipse2 {
    /* Ellipse 11 */
    position: absolute;
    width: 52px;
    height: 52px;
    right: -86px;
    top: 290px;
    background: #FFC223;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%; }
    @media (max-width: 480px) {
      section.reviews .ellipse2 {
        display: none; } }

section.team {
  margin-top: 224px;
  width: 80%;
  position: relative; }
  @media (max-width: 480px) {
    section.team {
      margin-top: 117px;
      width: 90%; } }
  section.team h2 {
    /* h2 */
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    letter-spacing: 0.2px;
    color: #252B42; }
    @media (max-width: 480px) {
      section.team h2 {
        /* h2 */
        margin: 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height, or 125% */
        letter-spacing: 0.2px;
        color: #252B42; } }
  section.team .description {
    /* paragraph */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #737373; }
    @media (max-width: 480px) {
      section.team .description {
        /* h2 */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        letter-spacing: 0.2px;
        color: #737373; } }
  section.team .teachers {
    margin-top: 47px;
    padding: 0 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-gap: 34px;
    gap: 34px;
    margin-bottom: 21px; }
    @media (max-width: 1024px) {
      section.team .teachers {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 480px) {
      section.team .teachers {
        grid-template-columns: repeat(1, 1fr); } }
    section.team .teachers .teacher {
      background: #FFFFFF;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 8px silver;
              box-shadow: 1px 1px 8px silver;
      /* Inside auto layout */ }
      section.team .teachers .teacher .img {
        position: relative;
        height: 240px; }
        @media (max-width: 480px) {
          section.team .teachers .teacher .img {
            height: 300px; } }
        section.team .teachers .teacher .img img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
      section.team .teachers .teacher .description {
        margin: 17px; }
        section.team .teachers .teacher .description .name {
          /* h5 */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          text-align: center;
          letter-spacing: 0.1px;
          color: #252B42; }
        section.team .teachers .teacher .description .education {
          /* small */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          /* or 133% */
          text-align: center;
          letter-spacing: 0.2px;
          color: #252B42; }
        section.team .teachers .teacher .description .profession {
          margin-top: 7px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          /* or 133% */
          text-align: center;
          letter-spacing: 0.2px;
          color: #252B42; }

section.cost {
  margin-top: 179px;
  margin-bottom: 288px;
  position: relative;
  width: 85%; }
  @media (max-width: 480px) {
    section.cost {
      margin-top: 207px;
      margin-bottom: 30px; } }
  section.cost h2 {
    /* h2 */
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    letter-spacing: 0.2px;
    color: #252B42; }
  section.cost .description {
    /* paragraph */
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #737373; }
    @media (max-width: 480px) {
      section.cost .description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        letter-spacing: 0.2px;
        color: #737373; } }
  section.cost .programms {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 480px) {
      section.cost .programms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    section.cost .programms .programm {
      background-color: #FFFFFF;
      width: 33%;
      padding: 40px; }
      @media (max-width: 1024px) {
        section.cost .programms .programm {
          padding: 30px; } }
      @media (max-width: 480px) {
        section.cost .programms .programm {
          width: 100%;
          padding: 40px;
          margin: 20px 0; } }
      section.cost .programms .programm .title {
        /* h2 */
        /* h2 */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height, or 125% */
        letter-spacing: 0.2px;
        color: #252B42; }
        @media (max-width: 480px) {
          section.cost .programms .programm .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            /* identical to box height, or 125% */
            letter-spacing: 0.2px;
            color: #252B42; } }
        @media (max-width: 768px) {
          section.cost .programms .programm .title {
            font-size: 28px; } }
      section.cost .programms .programm .cost {
        /* paragraph */
        margin-top: 28px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        letter-spacing: 0.2px;
        color: #737373; }
      section.cost .programms .programm button {
        /* link */
        margin-top: 28px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.2px;
        color: #4F46BA;
        border: none;
        background-color: transparent; }
        section.cost .programms .programm button img {
          margin-left: 65px; }
          @media (max-width: 768px) {
            section.cost .programms .programm button img {
              margin-left: 10px; } }
  section.cost .button {
    margin-top: 76px;
    background: #4F46BA;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 269px;
    height: 68px;
    border: none; }
    @media (max-width: 480px) {
      section.cost .button {
        width: 100%; } }

section.course-page {
  width: 92%;
  margin: 120px auto auto auto; }
  @media (max-width: 480px) {
    section.course-page {
      margin: auto; } }
  section.course-page p {
    margin: auto; }
  section.course-page .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    -webkit-box-shadow: inset 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 2px 2px 8px 4px rgba(0, 0, 0, 0.25); }
    @media (max-width: 1024px) {
      section.course-page .welcome {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    section.course-page .welcome .text {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding: 45px 0  0 84px;
      width: 50%; }
      @media (max-width: 1024px) {
        section.course-page .welcome .text {
          width: 100%;
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          padding: 25px; } }
      section.course-page .welcome .text .age {
        /* link */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        letter-spacing: 0.2px;
        color: #4F46BA; }
      section.course-page .welcome .text .title {
        margin: 15px 0;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        /* or 122% */
        color: #252B42; }
        @media (max-width: 1024px) {
          section.course-page .welcome .text .title {
            font-size: 16px;
            line-height: 24px; } }
      section.course-page .welcome .text .description {
        /* paragraph */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        letter-spacing: 0.2px;
        color: #737373; }
      section.course-page .welcome .text .location {
        margin-top: 11px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        section.course-page .welcome .text .location .img {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          position: relative;
          width: 13px;
          height: auto; }
          section.course-page .welcome .text .location .img img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 13px;
            height: 16px; }
        section.course-page .welcome .text .location .text-location {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 13px;
          /* h6 */
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          letter-spacing: 0.2px;
          color: #737373;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
      section.course-page .welcome .text .date {
        /* h5 */
        margin-left: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.1px;
        color: #FFC223; }
      section.course-page .welcome .text button {
        margin-top: 18px;
        border: none;
        width: 172px;
        height: 48px;
        background: #4F46BA;
        border-radius: 5px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF; }
        section.course-page .welcome .text button img {
          margin-left: 35px; }
        section.course-page .welcome .text button.sm {
          margin-top: 40px;
          width: 100%;
          display: none; }
          @media (max-width: 1024px) {
            section.course-page .welcome .text button.sm {
              display: block; } }
    section.course-page .welcome .img {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 50%; }
      @media (max-width: 1024px) {
        section.course-page .welcome .img {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          width: 100%; } }

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 86%;
  margin: 74px auto auto auto; }
  @media (max-width: 1024px) {
    .benefits {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .benefits .item {
    margin: 0 32.5px; }
    @media (max-width: 1024px) {
      .benefits .item {
        margin: auto;
        margin: 30px 32.5px; } }
    .benefits .item.col1 {
      width: 292px; }
    .benefits .item.col2 {
      width: 420px; }
    .benefits .item.col3 {
      width: 305px; }
    @media (max-width: 1024px) {
      .benefits .item.col1 {
        width: 80%; }
      .benefits .item.col2 {
        width: 90%; }
      .benefits .item.col3 {
        width: 80%; } }
    .benefits .item .title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 80px;
      /* identical to box height, or 200% */
      letter-spacing: 0.2px;
      color: #4F46BA; }
      @media (max-width: 1024px) {
        .benefits .item .title {
          margin: auto;
          line-height: 44px; } }
      .benefits .item .title.sm {
        display: none; }
        @media (max-width: 1024px) {
          .benefits .item .title.sm {
            display: block; } }
      .benefits .item .title.xll {
        display: block; }
        @media (max-width: 1024px) {
          .benefits .item .title.xll {
            display: none; } }
    .benefits .item .description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      text-align: center;
      letter-spacing: 0.1px;
      color: #252B42; }
      @media (max-width: 1024px) {
        .benefits .item .description {
          font-size: 16px;
          line-height: 20px; } }

section.description {
  width: 90%;
  margin: 100px auto auto auto; }
  @media (max-width: 1024px) {
    section.description {
      width: 81%;
      margin: auto; } }
  section.description h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */
    letter-spacing: 0.1px;
    color: #000000; }
    @media (max-width: 1024px) {
      section.description h2 {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px; } }
  section.description ul {
    padding-left: 26px;
    margin-top: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.1px;
    color: #252B42; }
    @media (max-width: 1024px) {
      section.description ul {
        padding-left: 0; } }
  section.description .row {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1024px) {
      section.description .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    section.description .row h3 {
      width: 50%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 60px;
      /* or 125% */
      letter-spacing: 0.1px;
      color: #252B42; }
      @media (max-width: 1024px) {
        section.description .row h3 {
          width: 103%;
          font-weight: 600;
          font-size: 48px;
          line-height: 60px; } }
    section.description .row ul {
      width: 80%; }
      @media (max-width: 1024px) {
        section.description .row ul {
          margin-top: 15px;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          padding: 0 25px; } }
  section.description .row2 {
    margin-top: 100px;
    margin-bottom: 200px; }
    @media (max-width: 1024px) {
      section.description .row2 h2 {
        width: 116%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        /* or 115% */
        margin-left: -20px;
        letter-spacing: 0.1px;
        color: #000000; } }
    @media (max-width: 1024px) {
      section.description .row2 .row {
        width: 116%;
        margin-left: -20px; } }
    section.description .row2 .row h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 46px;
      width: 50%;
      /* or 128% */
      letter-spacing: 0.1px;
      color: #252B42; }
      @media (max-width: 1024px) {
        section.description .row2 .row h3 {
          width: 100%;
          font-weight: 600;
          font-size: 36px;
          line-height: 46px; } }


/*# sourceMappingURL=main.css.map*/