*,
*::before,
*::after {
  box-sizing : border-box;
}

:root {
  font-size : 14px;

  @include media-xl {
    font-size : 16px;
  }
}

html {
  scroll-behavior : smooth;
  margin          : 0;
  padding         : 0;
}

body {
  min-width      : 320px;
  min-height     : 100vh;
  margin         : 0;
  padding        : 0;
  display        : flex;
  flex-direction : column;
  font-size      : 1rem;
  line-height    : 1.4rem;
  overflow-x     : hidden;
  background     : #ffffff;
}


img {
  max-inline-size : 100%;
  block-size      : auto;
  vertical-align  : middle;
}

a {
  font : inherit;

  &:focus {
    outline : none;
  }

  @include hover {
    &:hover {
      text-decoration : none;
    }
  }
}

.container {
  width  : $container-width;
  margin : 0 auto;
  @include media-sm{
    width: 95%;
    margin: 0 auto;
  }
}

.container-gradient-width {
  width  : $container-width;
  margin : 0 auto;
  @include media-sm{
    width: 100%;
    margin: 0 auto;
  }
}

.visually-hidden {
  position    : absolute;
  width       : 1px;
  height      : 1px;
  margin      : -1px;
  border      : 0;
  padding     : 0;
  white-space : nowrap;
  clip-path   : inset(100%);
  clip        : rect(0 0 0 0);
  overflow    : hidden;
}

.wrapper{
	/* Rectangle 21 */
	z-index: 1;
	width: 90%;
	margin: 20px 5% 177px 5%;
  background: rgba(255, 255, 255, 0.8);
  	@include media-sm{
      width: 100%;
      margin: auto;
		}
}